<div class="container">
  <ul class="list-group">
    <% @tweets.each do |tweet| %>
    <div class="row">
      <div class="col">
        <%= link_to tweet.body, tweet_path(tweet), class:"list-group-item"%>
        <div class="col">
          <span>Author: <%= tweet.user.email %></span>
        </div>
      </div>
    </div>
    <% end %>
  </ul>
</div>
