
<div class="container">

  <ul class="list-group">
    <%= link_to "New Tweet", new_tweet_path, class: "btn btn-primary" %>
    <% @tweets.each do |tweet| %>
      <%= link_to tweet.body, tweet_path(tweet), class:"list-group-item"%>
    <% end %>
  </ul>



</div>
